:root {
    --forestgrey1:#303b32;
      --forestgrey2:#314a40;
      --forestgrey3:#33594d;
      --forestgrey4:#3c6c5b;
      --forestgrey5:#56866b;
      --forestgrey6:#729d7d;
      --forestgrey7:#88ae96;
      --forestgrey8:#9bbbb0;
      --forestgrey9:#aec4c1;
      --forestgrey10:#c1c8c9;
      --forestgrey11:#cac9cb;
      --forestgrey12:#c8c9cb;
      
   }